<div class="container-fluid bg-danger-subtle">
    <p class="text-danger text-center">
        <!--errorMsg-->
    </p>
</div>
<div class="container">
    <h3 class="text-center">Conversor de Moedas</h3>
    <div class="col-sm-3 select">
        <select class="form-select">
    <option disabled selected hidden></option>
    <option *ngFor=""></option>
  </select>

    </div>
    <div class="col-sm-9 converter">
        <label for="number"></label>
        <input type="number" class="form-control" name="number">

        <label for="result">Resultado</label>
        <input type="number" class="form-control" name="result">
    </div>
</div>